@font-face {
  font-family: Raleway-Light;
  font-style: normal;
  src: url("Raleway/Raleway-Light.ttf") format("truetype");
}
@font-face {
  font-family: Raleway-ExtraBold;
  src: url("Raleway/Raleway-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: Raleway-Bold;
  src: url("Raleway/Raleway-Bold.ttf") format("truetype");
}
